body {
    background: #fafafa;
    text-align: center;
}

#pokemon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#pokemon-container>img {
    width: 120px;
}

body>div>button {
    padding: 8px 12px;
}

.image-red {
    background-color: red;
}

.image-green {
    background-color: green;
}

.image-blue {
    background-color: blue;
}